#dbody{
    background-color: #08041f;
}
#d1{
    height:80px;
    width:auto;
    background-color: #060317;
    padding:15px;
    border:1px solid bisque;
    box-shadow: 0px 4px 12px rgba(242, 242, 244, 0.6);
    position:relative;
}
#head{
    color:bisque;
}
#d2{
    position:absolute;
    left:30px;
    top: 30px;
}
#d3{
    position:absolute;
    right:30px;
    top: 30px;
}
#logout{
    height:40px;
    width:120px;
    margin-left:15px;
    border-radius: 8px;
    font-size: 20px;
    right:10px;
    border:0px solid white;
    background-color: white;
}

#logout:hover{
    background-color:rgba(211, 207, 218, 0.876);
    transform: scale(1.07);
    transition: transform 0.3s ease;
}

#footer{
    background-color: #060317;
    color: bisque;
    text-align: center;
    padding:15px 0;
    border:1px solid bisque;
    box-shadow: 0px 4px 12px rgba(242, 242, 244, 0.6);
    position:relative;

    top:25px;
    width: 100%;
    margin-top: 30px;
}
#h1{
    color:bisque;
    text-align: center;
    margin-top: 40px;
}

hr{
    border: 1px solid bisque;
    width: 30%;
    margin-top: -10px;
    margin-bottom: 30px;
}

#table{
    color:bisque;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid bisque;
    width: 80%;
    text-align: center;
    box-shadow: 0px 4px 12px rgba(242, 242, 244, 0.6);
}
#table th{
    border: 1px solid bisque;
    padding: 10px;
    background-color: #060317;
}
#table td{
    border: 1px solid bisque;
    padding: 10px;
    background-color: #08041f;
}
#table tr:hover{
    background-color:rgba(211, 207, 218, 0.876);
    transform: scale(1.02);
    transition: transform 0.3s ease;
}
#submit{
    height:40px;
    width:120px;
    position: relative;
    left:50%;
    transform:translateX(-50%);
    border:1px solid bisque;
    border-radius: 15px;
    background-color: white;
}
#add{
    height:40px;
    width:120px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border-radius: 8px;
    font-size: 20px;
    border:0px solid white;
    background-color: white;
    position: relative;
    left:90%
}
#add:hover{
    background-color:rgba(211, 207, 218, 0.876);
    transform: scale(1.07);
    transition: transform 0.3s ease;
}

#i1,
#i2,
#i3{
    position:relative;
    top:10px;
    width:300px;
    border: 1px solid bisque;
    height: 30px;
    border-radius: 15px;
}
#x{
    position: relative;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
#fdiv{
    width:350px;
    display: flex;
    align-items: center;
    border:1px solid bisque;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(242, 242, 244, 0.6);
    position:absolute;
    background-color: #08041f;
    top:200px;
    left:50%;
    z-index: 1;
    transform:translateX(-50%);
    padding:10px;
    height:auto;
    display:none;
}
#l1{
    font-size: 30px;
}
#form{
    display:felx;
    justify-content: center;
    align-items: center;
}
