#dbody{
    background-color: #08041f;
}
#d1{
    height:80px;
    width:auto;
    background-color: #060317;
    padding:15px;
    border:1px solid bisque;
    box-shadow: 0px 4px 12px rgba(242, 242, 244, 0.6);
    position:relative;
}
#head{
    color:bisque;
}
#d2{
    position:absolute;
    left:30px;
    top: 30px;
}
#d3{
    position:absolute;
    right:30px;
    top: 30px;
}
#logout{
    height:40px;
    width:120px;
    margin-left:15px;
    border-radius: 8px;
    font-size: 20px;
    right:10px;
    border:0px solid white;
    background-color: white;
}

#logout:hover{
    background-color:rgba(211, 207, 218, 0.876);
    transform: scale(1.07);
    transition: transform 0.3s ease;
}

#footer{
    background-color: #060317;
    color: bisque;
    text-align: center;
    padding:15px 0;
    border:1px solid bisque;
    box-shadow: 0px 4px 12px rgba(242, 242, 244, 0.6);
    position:relative;

    top:25px;
    width: 100%;
    margin-top: 30px;
}

#main{
    background-color: #060317;
    color: bisque;
    padding:20px;
    border:1px solid bisque;
    box-shadow: 0px 4px 12px rgba(242, 242, 244, 0.6);
    position:relative;
    top:5px;
    width: 100%;
    margin-top: 30px;
    font-size: larger;
}
#edit{
    height:40px;
    width:120px;
    position:relative;
    left:50%;
    transform: translateX(-50%);
    background-color: bisque;
    border-radius: 10px;
    font-size: 20px;
    color:#08041f
}
#edit:hover{
    background-color:rgba(211, 207, 218, 0.876);
}

#d11{
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    border:1px solid bisque;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(242, 242, 244, 0.6);
    margin-bottom: 20px;
    top: 200px;
    width: 60%;
    padding: 20px;
    background-color: #08041f;
    text-align: center;
    color: bisque;
    z-index: 1;
}

#f1,
#f2,
#f3,
#f4,
#f5,
#f6{
    width: 80%;
    height: 30px;
    border-radius: 8px;
    border:1px solid bisque;
    background-color: #060317;
    color: bisque;
    font-size: 16px;
    padding-left: 10px;
    margin-bottom: 15px;
}
#save{
    height:40px;
    width:120px;
    border-radius: 8px;
    font-size: 20px;
    border:0px solid white;
    background-color: bisque;
    color:#08041f;
}
#save:hover{
    background-color:rgba(211, 207, 218, 0.876);
    transform: scale(1.07);
    transition: transform 0.3s ease;
}