#dbody{
    background-color: #08041f;
}
#d1{
    height:80px;
    width:auto;
    background-color: #060317;
    padding:15px;
    border:1px solid bisque;
    box-shadow: 0px 4px 12px rgba(242, 242, 244, 0.6);
    position:relative;
}
#head{
    color:bisque;
}
#d2{
    position:absolute;
    left:30px;
    top: 30px;
}
#d3{
    position:absolute;
    right:30px;
    top: 30px;
}
#logout{
    height:40px;
    width:120px;
    margin-left:15px;
    border-radius: 8px;
    font-size: 20px;
    right:10px;
    border:0px solid white;
    background-color: white;
}

#logout:hover{
    background-color:rgba(211, 207, 218, 0.876);
    transform: scale(1.07);
    transition: transform 0.3s ease;
}

#footer{
    background-color: #060317;
    color: bisque;
    text-align: center;
    padding:15px 0;
    border:1px solid bisque;
    box-shadow: 0px 4px 12px rgba(242, 242, 244, 0.6);
    position:relative;

    top:25px;
    width: 100%;
    margin-top: 30px;
}

#main{
    background-color: #060317;
    color: bisque;
    padding:20px;
    border:1px solid bisque;
    box-shadow: 0px 4px 12px rgba(242, 242, 244, 0.6);
    position:relative;
    top:5px;
    width: 100%;
    margin-top: 10px;
    font-size: larger;
}
#edit{
    height:40px;
    width:120px;
    position:relative;
    left:50%;
    transform: translateX(-50%);
    background-color: bisque;
    border-radius: 10px;
    font-size: 20px;
    color:#08041f;
    z-index: 2;
}
#edit:hover{
    background-color:rgba(211, 207, 218, 0.876);
}
#d10{
    height:150px;
    width:150px;
    border: 2px solid bisque;;
    position:relative;
    border-radius: 40%;
    left:50%;
    transform: translateX(-50%);
    box-shadow: 0px 4px 12px rgba(242, 242, 244, 0.6);
}
#profilepic{
    height:150px;
    width:150px;
    border-radius: 40%;
}